@media screen and (min-width:1158px) {
    .container {
        width: 1158px;
    }

    .header-link {
        margin-right: 77px;
    }

    .contacts {
        align-items: center;
        flex-direction: row;
        justify-content: center;
        gap: 40px;
        margin-left: auto;

        font-size: 16px;
        line-height: calc(24 / 16);
        letter-spacing: 0.02em;
    }

    .promo {
        max-width: 1440px;
        padding-top: 190px;
        padding-bottom: 190px;
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/promo-desktop.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .promo {
            background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/promo-desktop-2x.jpg);
        }
    }

    .promo__title {
        margin: 0 auto 64px;
    }

    .benefits {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .benefits-icon {
        width: 264px;
        height: 112px;
        margin-bottom: 8px;
    }

    .benefits-svg {
        display: block;
    }

    .benefits__title {
        font-weight: 500;
        font-size: 20px;
        line-height: calc(24 / 20);
        /* letter-spacing: 0.02em;
        color: #2E2F42; */
    }

    .benefits__text {
        font-weight: 400;
    }

    .benefits__card {
        width: 264px;
    }

    .presentation {
        display: block;
    }

    .team .container,
    .customers .container,
    .footer .container {
        width: 1158px;
    }

    .team {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .team__item {
        width: calc((100% - 72px) /4);
    }

    .customers {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .customers-link {
        /* width: 181px; */
    }

    .customers-item {
        flex-basis: calc((100% - 120px)/6);

    }


    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-wrapper {
        column-gap: 0px;
    }

    .footer-text {
        margin-right: 120px;
    }

    .footer-text-link {
        justify-content: flex-start;
    }

    .footer-social {
        margin-right: auto;
    }

    .footer-social-title,
    .footer-e-mail-title {
        text-align: left;
    }

    .footer-e-mail-input {
        width: 264px;
    }
}